.profile__edit-button {
  width: 18px;
  aspect-ratio: 1 / 1;

  cursor: pointer;

  background-color: transparent;
  background-image: url('../../../images/edit-pict.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7.5px;

  border: 1px solid #fff;

  transition: opacity .4s ease-out;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -ms-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
}

.profile__edit-button:hover {
  opacity: .6;

  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
}

@media (min-width: 768px) {
  .profile__edit-button {
    width: 24px;

    background-size: 10px;
  }
}
