.page {
  color: #fff;
  font-family: 'Inter', Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  background-color: #000;

  margin: 0;
  padding: 0;
}

.header {
  width: calc(100% - (200px * 2));
  max-width: 880px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 45px 0 37px 0;
  border-bottom: 1px solid #545454;
}

.header__logo {
  max-width: 142px;
  aspect-ratio: 142 / 33;
}

.profile {
  width: calc(100% - (200px * 2));
  max-width: 880px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  margin: 0 auto;
  padding: 40px 0 50px 0;
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile__container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 18px;
  row-gap: 10px;
  align-items: baseline;

  flex-basis: 66%;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;

  margin: 0;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  grid-column: 1 / -1;

  margin: 0;
}

.profile__edit-button {
  width: 24px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;

  cursor: pointer;

  padding: 7px;
  border: 1px solid #fff;

  transition: opacity .4s ease-out;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -ms-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
}

.profile__edit-button:hover {
  opacity: .6;

  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  aspect-ratio: 3 / 1;
  box-sizing: border-box;

  cursor: pointer;

  background-color: #000;

  position: relative;

  border: 2px solid #fff;

  transition: opacity .4s ease-out;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -ms-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
}

.profile__add-button::before {
  content: "";
  width: 22px;
  height: 2px;

  background-color: #fff;

  position: absolute;

  top: auto;
  top: calc(50% - 1px);
  left: calc(50% - 11px);
}

.profile__add-button::after {
  content: "";
  width: 2px;
  height: 22px;

  background-color: #fff;

  position: absolute;

  top: calc(50% - 11px);
  left: calc(50% - 1px);
}

.profile__add-button:hover {
  opacity: .6;

  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
}

.places {
  width: calc(100% - (200px * 2));
  max-width: 880px;

  margin: 0 auto;
}

.places__list {
  list-style: none;

  display: grid;
  grid-template-columns: minmax(224px, 282px) minmax(224px, 282px) minmax(224px, 282px);
  column-gap: 17px;
  row-gap: 20px;

  padding: 0;
}

.places__place {
  font-size: 0;

  background-color: #fff;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.places__place-photo {
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.places__place-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17px;
  align-items: baseline;


  padding: 25px 15px 25px 21px;
}

.places__place-name {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin: 0;
}

.places__like {
  min-width: 22px;
  aspect-ratio: 22 / 19;

  cursor: pointer;

  transition: .4s ease-out;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -ms-transition: .4s ease-out;
  -o-transition: .4s ease-out;
}

.places__like:hover {
  opacity: .5;

  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.places__like_disabled {
  background-image: url('/images/like_disabled.svg');
  background-repeat: no-repeat;
}

.places__like_active {
  background-image: url('/images/like_active.svg');
  background-repeat: no-repeat;
}

.copyright {
  width: calc(100% - (200px * 2));
  max-width: 880px;

  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  margin: 0 auto;
  padding: 66px 0 60px 0;
}
