@keyframes scaleUp {
  from {scale: .5;}
  to {scale: 1;}
}

@keyframes scaleDown {
  from {scale: 1;}
  to {scale: .5;}
}

.popup__container {
  width: calc(100% - (19px * 2));
  max-width: 345px;

  position: relative;

  margin: 0 auto;
}

@media (min-width: 425px) {
  .popup__container {
    width: calc(100% - (40px * 2));
    max-width: 430px;
  }
}
