.popup__form-submit {
  width: calc(100% - (22px * 2));
  max-width: 358px;

  color: #fff;
  font-weight: 400;
  font-size: clamp(14px, 3vw, 18px);
  line-height: clamp(17px, 4vw, 22px);

  cursor: pointer;

  background-color: #000;

  margin: 45px 0 0 0;
  padding: 14px 0 14px 0;
  border: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;

  transition: opacity .4s ease-out;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -ms-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
}

.popup__form-submit:hover {
  opacity: .8;
  
  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
}

@media (min-width: 520px) {
  .popup__form-submit {
    margin: 48px 0 0 0;
  }
}
