.popup__form {
  text-align: center;

  background-color: #fff;

  padding: 25px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (min-width: 520px) {
  .popup__form {
    padding: 34px 0 37px 0;
  }
}
