.profile__container {
  max-width: calc(100% - (30px * 2));
  display: grid;
  grid-template-columns: fit-content(100%) 1fr;
  column-gap: 10px;
  row-gap: 8px;
  align-items: baseline;

  flex-basis: 66%;

  margin: 26px 0 0 0;
}

@media (min-width: 768px) {
  .profile__container {
    grid-template-columns: auto 1fr;
    column-gap: 18px;
    row-gap: 16px;

    margin: 0;
  }
}
