.profile__container {
  max-width: calc(100% - 60px);
  display: grid;
  grid-template-columns: 100% 1fr;
  gap: 8px 10px;
  align-items: baseline;

  flex-basis: 66%;

  margin: 26px 0 0 0;
}

@media (min-width: 768px) {
  .profile__container {
    max-width: none;

    grid-template-columns: auto 1fr;
    gap: 16px 18px;

    margin: 0;
  }
}
