.places__place-photo {
  width: 100%;
  min-width: 218px;
  max-width: 564px;
  aspect-ratio: 1 / 1;

  object-fit: cover;

  cursor: pointer;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
