@keyframes appear {
  from {
    opacity: 0;
    scale: .5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: .5;
  }
}

.places__place {
  font-size: 0;
  background-color: #fff;

  position: relative;
  
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
